

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Book Store Dashboard Template</title>
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/bookStore-logo.jpg">
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/assets/css/feathericon.min.css">
	<link rel="stylesheet" href="/assets/plugins/morris/morris.css">
	<link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
	<div class="main-wrapper login-body">
		<div class="login-wrapper">
			<div class="container">
				<div class="loginbox">
					<div class="login-left"> <img class="img-fluid" src="/assets/img/bookStore-logo.jpg" alt="Logo"> </div>
					<div class="login-right">
						<div class="login-right-wrap">
							<h1>Login</h1>
							<p class="account-subtitle">Access to our dashboard</p>
							<form
									th:action="@{/bookStore/forgetPass}"
									method="post"
									th:object="${email}"
                            >
                            <!-- action="index.html" >> IN form >> -->

								<div class="form-group">
									<input class="form-control" id="emailInput" type="text" placeholder="Email" th:field="${email.email}">
								</div>
							
								<div class="form-group">
									<button class="btn btn-primary btn-block" type="submit">Reset Password</button>
								</div>
							</form>

							<div th:if="${emailSent}" class="success alert-success" role="alert" id="successMsg">
								<p >Email sent , please check your mail</p>
								<a th:href="@{/bookStore/start}">back to login page</a>
							</div>

							<div th:if="${emailError}" id="errorMsg" class="alert alert-danger" role="alert" >
								<p >This email doesn't exist</p>
							</div>
							
							
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script>
    var email = document.getElementById('emailInput');
    var errorMsg = document.getElementById('errorMsg');

    email.addEventListener('input', function() {
        errorMsg.style.display = 'none';
    });


</script>

</body>

</html>